* {
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-basis: 720px;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 720px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    border: 1px solid black;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.black {
    background-color: black;
}