* {
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.inner-container {
    display: flex;
}

.controls {
    display: flex;
    flex-direction: column
}

#grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 500px;
    width: 500px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    border: 1px solid black;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.black {
    background-color: black;
}